<div class="page">

  <div class="header">
    <div>
      <h1>Text modifier</h1>
    </div>

    <div class="mode">
      <app-select
        class="select"
        [options]="converterTypes"
        [(value)]="selectedConverter"
        (valueChange)="onSelectConverterChange($event)"
        title="select a mode"
      ></app-select>
    </div>
  </div>

  <div>
    <span>input:</span>
    <app-textarea
      class="textarea"
      [(value)]="value"
      (valueChange)="onTextAreaChange($event)"
      [disableResize]=true
    ></app-textarea>
  </div>

  <div>
    <span>output:</span>
    <app-textarea
      class="textarea"
      [(value)]="convertedValue"
      [readonly]=true
      [allowCopy]=true
      [disableResize]=true
    ></app-textarea>
    <span>— click to copy</span>
  </div>
</div>
